<div class="row">
  <div class="col-xs-9">
    <div class="list-group-item clearfix" style="background-color: #f7f6f6;">
      <h2 class="pull-left">Contacts</h2>
      <a class="pull-right btn btn-success" routerLink="new">New Contact</a>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-xs-9">
    <a href="#" class="list-group-item clearfix" *ngFor="let contact of contacts">
      <!-->Inherit to a child element using data binding</!-->
      <app-contact-item *ngFor="let contactItem of contacts" [contact]="contactItem">
      </app-contact-item>
    </a>

  </div>
</div>
