<div class="row">
  <div class="col-xs-9">
    <div class="list-group-item clearfix" style="background-color: #f7f6f6;">
      <h2 class="pull-left">Contacts</h2>
      <button class="btn btn-success pull-right" routerLink="new" routerLinkActive="active">New Contact</button>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-xs-9" cdkDropList #ConList="cdkDropList" *ngFor="let contactItem of contacts">
    <app-contact-item #appContactItem [contact]="contactItem" cdkDrag (cdkDragDropped)="drop($event)">
    </app-contact-item>
  </div>
</div>
